<div class="post-comment-list" id="comment-list">
    @foreach (var comment in Model)
    {
        <div class="comment-list">
            <div class="comment-image">
                <a href="@Url.Action("Profile", "User", new { username = comment.User.Username })">
                    <img src="@comment.User.ProfileImage" class="rounded-circle" alt="image">
                </a>
            </div>
            <div class="comment-info">
                <h3>
                    <a href="@Url.Action("Profile", "User", new { username = comment.User.Username })">
                        @comment.User.Username
                    </a>
                </h3>
                <span>@comment.CommentedAt.ToString("g")</span>
                <p>@comment.CommentText</p>
                <ul class="comment-react">
                    <li><a href="#" class="like">Like</a></li>
                    <li><a href="#">Reply</a></li>
                    @if (comment.IsCurrentUser)
                    {
                        <li><a href="@Url.Action("RemoveComment", "Comment", new { commentId = comment.Id })">Delete</a></li>
                    }
                </ul>
            </div>
        </div>
    }

    @if (Model.HasMoreComments)
    {
        <div class="more-comments">
            <button id="load-more-comments" data-post-id="@ViewBag.PostId" data-page="1">More Comments+</button>
        </div>
    }
</div>
